@{
    ViewData["Title"] = "Home ";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-4">to Take Back The Music.</h2>
    <p>This site is currently under construction - but we plan to offer a full site for musicians and fans that will allow you to discover new music, find places to see music, and keep connected.</p>
    <p>In addition to that, we plan to make discovering the best new music easier, and more inclusive of everyone's opinion</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
